*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{font-family: Verdana, Geneva, Tahoma, sans-serif!important; line-height: 1.5;}
h6{font-size: 15px; letter-spacing: 4px; font-weight: normal;}
h5{font-size: 22px; font-weight: lighter; margin-bottom: 15px;}
nav{
    position: fixed;
    z-index: 99;
    background-color: #fff;
    width: 100%;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}
nav li{list-style-type: none; float: right;}
nav a{
    display: block; 
    border: none; 
    margin: 5px 10px;
    padding: 10px 15px;
    text-decoration: none;
    color: #000;
}
nav a:hover{background-color: #ccc;}
nav::after{
    content: "";
    display: table;
    clear: both;
}
.container1{
    width: 98%;
    margin: auto;
    position: relative;
}
.textonpic{
    font-size: 35px;
    position: absolute;
    top: 50%;
    right: 36%;
    color: #f1f1f1;
    letter-spacing: 4px;
}
.BR{background-color: #000;opacity: 0.75;padding: 12px; font-weight: bold;}
.architects{font-weight: lighter;}
.container2{width:96%; margin: auto;}
.margin{margin-top: 80px; margin-bottom: 20px;}
hr{border: 1px solid #f1f1f1;}
.container3{
    width: 25%;
    position: relative;
    float: left;
    padding-right: 10px;
}
.textonpic2 {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    padding: 8px 15px;
    color: #fff;
    font-size: 15px;
}
#projects::after{
    content: "";
    display: table;
    clear: both;
}
.text{
    padding-top: 5px;
    background-color: #fff;
    color: #000;
    font-size: 15px;
}
#about button{
    border: none;
    width: 100%; 
    margin-top: 5px; 
    text-align: center;
    background-color: #f1f1f1;
    color: #000;
    padding: 10px;
    font-size: 16px;
}
#about::after{
    content: "";
    display: table;
    clear: both;
}
input{
    width: 100%;
    font-size: 15px;
    padding: 10px 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}
#contact button{
    border: none;
    background-color: #000;
    padding: 10px 18px;
    font-size: 15px;
    color: #fff;
}
footer{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 30px;
}
@media (max-width:1200px){
    .textonpic{font-size: 30px;}
    .container3{width: 50%;}
}
@media (max-width:600px){
    .hide{display: none;}
    .container3{width: 100%;}
}